# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.kurikoCat.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mishael\Documents\GitHub\KurikoCat\kurikoCat\.idea\.idea.kurikoCat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
