# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.buccaneers.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mishael\Documents\GitHub\GameJam\buccaneers\.idea\.idea.buccaneers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
